{% extends 'base.html.twig' %}

{% block title %}Symfony BlogController!{% endblock %}

{% block body %}

<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metada">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metada">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metada">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <p>Dolore ab hic similique natus doloribus Dolore ab hic similique natus
            doloribus Dolore ab hic similique natus doloribus Dolore ab hic similique natus doloribus</p>
            <a href="" class="btn btn-primary" >Lire la suite</a>
        </div>
    </article>
</section>

{% endblock %}
